$color-black: #000;
$color-white: #fff;
$color-light-grey: #efefef;
$color-dark-grey: #989898;
$color-light-blue: #76AEED;
$font-size-heading: 1.2rem;
$small-gap: 3rem;
$medium-gap: 5rem;
$large-gap: 8rem;

// $primary-font: 'Open Sans', sans-serif;
$primary-font: 'Yanone Kaffeesatz', sans-serif;
// $secondary-font: 'Montserrat', sans-serif;
$secondary-font: 'Cormorant Garamond', serif;
